//Colours
$dark-c: #1b1b1e;
$first-c: #006494;
$second-c: #247ba0;
$third-c: #1b98e0;

//Font sizes
$fs-small: 1rem;
$fs-medium: 2rem;
$fs-large: 4rem;

//box-shadow
$bs: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
